extends layout

block content
  h1= title
  a(href="/new")= "Enter New Message"
  main
    each obj in messages
      ul
        each val, key in obj
          li
            span(class="key")= key + ": "
            span(class="val")= val
      hr
